@font-face {
  font-family: 'Final-Fantasy-36-Font';
  src: url('../fonts/ff_font/Final-Fantasy-36-Font.ttf') format('truetype');
}

body {
    font-family: 'Final-Fantasy-36-Font', sans-serif;
    color: white;
    margin-top: 0;
    margin-left: 0;
    user-select: none;
    -moz-user-select: none;
}

#mainContent {
    width: 1000px;
    height: 740px;
    margin: 0 auto;
}

    #logoDiv {
        width: 1000px;
        height: 740px;
        margin: 0 auto;
        background-color: black;
        top: 0;
        float: left;
        position: fixed;
        z-index: 100;
    }

        #logo {
            max-width: 100%;
            max-height: 100%;
            display: table;
            z-index: 100;
            margin: 0 auto;
        }

    #enemyAndPlayerDiv {
        background-image: url("../artwork/backgrounds/parkingLotBackground.svg");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        width: 100%;
        height: 560px;
    }

        #enemyContainer {
            display: inline-block;
            width: 49%;
            max-height: 84%;
            margin-top: 5%;
        }

            #enemyDiv {
                width: 500px;
                height: 300px;
                float: left;
                margin-left: 20%;
                margin-top: 15%;
            }

                .enemyImg {
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                }

        #charContainer {
            float: right;
            max-height: 84%;
            width: 49%;
            margin-top: 5%;
        }

            .char {
                width: 210px;
                height: 100px;
                margin: 2%;
                margin-right: 10%;
                float: right;
                clear: both;
                transition: transform 1s;
            }

            .activeChar {
                transform: translateX(-100px);
            }

            .deadChar {
                transform: rotate(-90deg);
            }

                .charImg {
                    position: relative;
                    max-width: 100%;
                    max-height: 100%;
                    float: right;
                }

                .wepImg {
                    position: relative;
                    max-width: 55%;
                    max-height: 75%;
                    float: right;
                    top: 20px;
                    right: 20px;
                }

    #ui {
        /* placeholder */
    }

        #mainMenu {
            background-image: url("../artwork/ui/menuBar.png");
            background-size: 100% 100%;
            width: 40%;
            height: 180px;
            float: left;
        }

            .mainMenuRow {
                height: 30%;
                top: 35px;
                position: relative;
                font-size: 30pt;
            }

                .mainMenuRow div {
                    width: 20%;
                    height: 100%;
                    float: left;
                }

                .iconCell {
                    background-size: 100% 100%;
                    top: -7px;
                    position: relative;
                }

        #charHpDiv {
            background-image: url("../artwork/ui/menuBar.png");
            background-size: 100% 100%;
            width: 60%;
            height: 180px;
            float: right;
        }

            #charNamesInner {
                margin: 20px;
                font-size: 30pt;
                float: left;
            }

            #charHpInner {
                margin: 20px;
                font-size: 30pt;
                float: left;
            }

                .charHpSpan {
                    text-align: right;
                }
